{
    "plugins": [
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css" // `style: true` 会加载 less 文件
        }, "antd"],
        ["import", {
            "libraryName": "react-code-previewer",
            "libraryDirectory": "es",
            "style": "css" // `style: true` 会加载 less 文件
        }, "rcp"]
    ]
}